.logo h1 {
  color: #31353e;
  font: 700 36px "Roboto Slab";
  line-height: 36px;
  margin: 0; }
.logo p {
  color: #dd4b2b;
  font: 400 16px "Roboto Slab";
  line-height: 36px;
  /* Text style for "Free PSD t" */
  letter-spacing: 0.96px;
  margin: 0; }

.main-header {
  height: 10vh; }
  .main-header .row {
    height: 100%;
    align-items: center;
    align-content: center; }

.logo {
  padding: 0; }

.nav-tab {
  padding: 0; }

.nav a:focus {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #dd4b2b;
  color: #edeff1; }
.nav a {
  color: #31353e;
  font: 400 18px "Roboto Slab";
  line-height: 24px; }

.welcome-section {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center; }

.bg-welcome-section {
  width: 100%;
  height: 90vh;
  position: absolute;
  z-index: 1; }
  .bg-welcome-section img {
    width: 100%;
    height: 90vh; }

.bg-welcome-section::before {
  content: "";
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  z-index: 2;
  opacity: 0.8; }

.welcome-section-container {
  width: 100%;
  height: 90vh;
  position: absolute;
  z-index: 3;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center; }
  .welcome-section-container h2 {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    color: #ffffff;
    font-family: "Roboto Slab";
    line-height: 48px;
    /* Text style for "Integer at" */
    font-size: 72px;
    font-weight: 300; }
  .welcome-section-container p {
    color: #ffffff;
    font-size: 30px;
    /* Text style for "finibus lo" */
    font-weight: 700; }

.best-dishes {
  margin-top: 50px;
  width: 100%;
  height: 333px; }
  .best-dishes li {
    width: 100%;
    height: 156px; }
    .best-dishes li .food-name {
      color: #ffffff;
      font-family: "Roboto Slab";
      font-size: 30px;
      font-weight: 700;
      line-height: 48px; }
    .best-dishes li .food-description {
      color: #ffffff;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 100;
      line-height: 30px; }
    .best-dishes li .first-dishes::before {
      content: url("../img/tincidunt.png");
      display: block; }
    .best-dishes li .second-dishes::before {
      content: url("../img/Duis bibendum.png");
      display: block; }
    .best-dishes li .third-dishes::before {
      content: url("../img/Donec ligula.png");
      display: block; }

.btn {
  margin-top: 50px;
  width: 213px;
  height: 54px;
  border-radius: 27px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #ffffff;
  color: #612316;
  font-family: "Roboto Slab";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; }

.btn-info:hover {
  border: 1px solid #dd4b2b;
  background-color: #dd4b2b; }

.news-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background: #EDEFF1; }

.news-section-container {
  width: 1200px; }
  .news-section-container h3 {
    color: #31353e;
    font: 700 30px "Roboto Slab";
    line-height: 24px; }

.news-list {
  margin-top: 83px;
  width: 100%;
  height: 496px; }
  .news-list li {
    width: 30%;
    height: 496px; }
    .news-list li img {
      width: 100%; }
    .news-list li .food-name {
      margin-top: 39px;
      color: #31353e;
      font: 700 30px "Roboto Slab";
      line-height: 48px; }
    .news-list li .food-description {
      color: #31353e;
      font: 100 15px "Roboto Slab";
      line-height: 30px; }
    .news-list li .btn {
      width: 179px; }

.newsletter-section {
  width: 100%;
  height: 384px;
  display: flex;
  align-items: center;
  background: #EDEFF1; }

.bg-newsletter-section {
  width: 100%;
  height: 384px;
  position: absolute;
  z-index: 1; }
  .bg-newsletter-section img {
    width: 100%; }

.newsletter-section-container {
  display: flex;
  justify-content: center;
  width: 533px;
  height: 384px;
  position: absolute;
  z-index: 2; }
  .newsletter-section-container .row {
    margin-top: 20px;
    height: 54px;
    border-radius: 27px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.5); }
  .newsletter-section-container h3 {
    color: #ffffff;
    font: 700 30px "Roboto Slab";
    line-height: 48px; }
  .newsletter-section-container p {
    color: #ffffff;
    font: 300 15px "Roboto Slab";
    line-height: 24px; }

.email-form {
  width: 513px;
  height: 54px;
  margin: 0; }
  .email-form input {
    padding: 15px;
    width: 300px;
    height: 100%;
    border: none;
    background-color: transparent;
    outline: 0;
    resize: none; }

.email-btn {
  margin: 0;
  height: 100%; }

.sign-up-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: #ffffff; }
  .sign-up-section .row li {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .sign-up-section .row li h3 {
      color: #191b29;
      font-family: "Roboto Slab";
      font-size: 30px;
      font-weight: 700;
      line-height: 48px; }
    .sign-up-section .row li p {
      color: #191b29;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 300;
      line-height: 30px; }
    .sign-up-section .row li .btn {
      margin-top: 20px;
      color: white; }

.empty-container {
  border: solid 1px #E1E1E1;
  opacity: 0.5;
  height: 350px; }

.btn-sign-up-top {
  background: #dd4b2b; }

.btn-sign-up-bottom {
  background: #4b4e73; }

.btn-sign-up-top:hover {
  background: #4b4e73; }

.list-section {
  width: 100%;
  height: 412px;
  display: flex;
  align-items: center;
  background: #d75d0e; }

.list {
  display: flex;
  align-items: center;
  align-content: center; }
  .list a {
    color: #ffffff;
    font: 400 18px "Roboto Slab";
    line-height: 36px; }

.footer-section {
  width: 100%;
  height: 384px;
  display: flex;
  align-items: center;
  align-content: flex-start; }
  .footer-section p {
    color: #ffffff;
    font: 300 13px "Roboto Slab";
    line-height: 24px;
    margin: 0; }

.bg-footer-section {
  width: 100%;
  height: 384px;
  position: absolute;
  z-index: 1; }
  .bg-footer-section img {
    width: 100%; }

.footer-section-container {
  display: flex;
  justify-content: center;
  width: 533px;
  height: 384px;
  position: absolute;
  z-index: 2; }

strong {
  font-weight: 700; }

body {
  margin: 0 auto;
  width: 100%; }

.main-width {
  width: 1200px;
  margin: auto; }

li {
  list-style: none; }

/*# sourceMappingURL=style.css.map */
